.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1.5rem;
  justify-items: center;
}

/* Escritorio */
@media (min-width: 64rem) { 
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 75rem;          
    margin: 0 auto;
    gap: 2rem;
  }
}
