.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  color: white;
  position: relative;
  z-index: 10;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  display: flex;
  align-items: center;
  height: 4rem;
  width:auto;
}