.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #8b5cf6; 
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  display: flex;
  align-items: center;
  height: 4rem;
  width:auto;
}